{% extends 'base.html' %}
{% block desc %}MVP тикет-системы, автоматизация техподдержки{% endblock desc %}
{% block title %}О проекте{% endblock title %}

{% block content %}
    <div class="contents">
    <h1 class="headline">Тикет-система для служб техподдержки</h2>
    <p>Проект представляет собой MVP облачного сервиса для служб техподдержки.</p>
    <p>Основной особенностью проекта будет возможность автоматического создания тикетов на основании аудиозаписей пользователей, что позволит снизить издержки службы поддержки на первичную проработку проблемы пользователя и затраты времени на создание заявок.</p>
    <p>Суть процесса такова:</p>
    <li>автоотвечтик записывает звонок</li>
    <li>аудиофайл направляется на распознавание и перевод в текст с помощью модели ИИ</li>
    <li>модель перевод аудио в текст</li>
    <li>далее по тексту определяется категория задачи и ее приоритет</li>
    <li>в итоге система автоматически создает заявку, вносит текст проблемы, определяет ее категорию, указывает приоритет и исполнителя, обладающего необходимой квалификацией</li>
    </div>

    <div class="menu_wrap">
        <div class="menu">
            <a href="tickets/" title="Все заявки">Список всех обращений</a>
        </div>

        <div class="menu">
            <a href="create_ticket/" title="Создание обращения">Создание обращения в support</a>        
        </div>

        <div class="menu">
            <a href="create_client/" title="Создание клиента">Создание нового клиента</a>        
        </div>

        <div class="menu">
            <a href="create_employee/" title="Создание сотрудника">Создание нового сотрудника</a>        
        </div>


    </div>


{% endblock content %}