{% extends 'base.html' %}
{% block desc %}{% endblock desc %}
{% block keywords %}{% endblock keywords %}
{% block title %} Добавление нового {{ item }}а {% endblock title %}

{% block content %}
    <h2 class="headline">Добавление нового {{ item }}а в базу</h2>
    <div class="user">
        <form method="POST" class="postform">                
            
                {% csrf_token %}
                {{form}}
            
        
        <button class="submbutton" type="submit"> Отправить </button>
        
        </form>
    </div>
{% endblock content %}